// IMPORT
@import "base/colors";
@import "base/fonts";
@import "componentes/header";
@import "componentes/footer";
@import "componentes/index";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    font-size: 12px;
}

body.darkmode{
    background-color: #000;
    section{
        h3, h4, h5{
            color: $color-limon !important;
        } 
    }
}